/* universal selector  */
/* table{
    background-color: aqua;
    text-align: center;
    table-layout:fixed;
} */
 /* element selector */
 /* h2{
    color:orange;
 }
 button{
    background-color: blue;
    color:white;
 }
 p{
    background: #000;
    color:white;
 } */
  h3{
   color:green;
  }
  button:hover{
   background-color: black;
   color:white
  }